@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif; 
}

html {
    scroll-behavior: smooth; 
}

.logo {
    width: 160px; 
    height: 100px; 
}

img {
    width: 100%;
}

body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    overflow-x: hidden; 
}

nav {
    height: 80px; 
    display: flex;
    padding-top: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 40px;
    display: flex;
    color: rgb(180, 0, 9);
}

/* LANDING */

#landing {
    height: 100vh;background-image: url("./assets/harrypotterwall-1569343483.avif"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.nav__container {
    width: 100%; 
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto; 
}

.nav__links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 16px; 
}

.nav__link {
    margin-right: 16px; 
    text-decoration: none;
    font-size: 24px; 
    font-weight: bold; 
    padding: 8px; 
    color: rgb(180, 0, 9); 
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    background-color: rgb(180, 0, 9);
    color: white;
    padding: 8px 20px; 
    border-radius: 50px; 
    transition: all 300ms ease; 
}

.nav__link--primary:hover {
    text-decoration: none; 
}

button {
    cursor: pointer; 
}

button:active {
    transform: translateY(1px); 
}

.btn {
    padding: 12px 24px; 
    font-size: 20px; 
    border-radius: 10px; 
    border: none; 
    background-color: rgb(180, 0, 9);
}

.btn__menu {
    background-color: transparent;
    font-size: 40px; 
    text-align: center; 
    border: none; 
    color: rgb(180, 0, 9); 
    display: none;
}

.menu__backdrop {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0;
    z-index: 100; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0; 
    visibility: hidden;
    transform: translate(100%);
    background-color: #242424;
}

.menu__open {
    max-height: 100vh;
    overflow-y: hidden; 
}

.menu--open {
    visibility: visible !important;
    opacity: 1; 
    transform: translate(0); 
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0; 
}

.menu__link {
    color: rgb(180, 0, 9);
    font-size: 40px;
}

.btn__menu--close {
    position: absolute;
    right: 20px; 
    top: 10px; 
    padding: 8px; 
    color: rgb(180, 0, 9);
}

.search__container {
    margin: 0 auto;
    margin-top: 170px;
    width: 100%; 
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(180, 0, 9);
}

.search {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%; 
    max-width: 400px; 
    border-radius: 50px; 
    overflow: hidden;
}

.search
.search__input {
    padding: 12px 28px; 
    font-size: 20px;
    border: none;
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px;
    outline: none; 
}

input[type="text"] {
    width: 100%;
    max-width: 800px;
    height: 60px;
    background-color: rgb(180, 0, 9); 
}

input[type="text"]::placeholder {
    color: white; 
    opacity: 1;
}

.search__glass {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; 
    bottom: 0; 
    right: 0;
    z-index: 1; 
    padding: 0 20px 0 8px; 
    color: white; 
    font-size: 32px; 
    transition: all 300ms ease;
}

#filter {
    font-size: 16px; 
    margin: 12px;
}

/* MAIN */

.section__title {
    display: flex;
    justify-content: center;
}

.sort__select {
    padding: 10px 14px; 
    font-size: 18px; 
    border-radius: 8px; 
    border: none; 
    background: rgb(180, 0, 9); 
    color: white; 
    margin: 20px auto; 
    display: block;
    cursor: pointer;
}
.sort__select option{
    color: black;
}

#HP__movies {
    padding-top: 8vw; 
    background-color: rgba(88, 66, 214, 0.1);
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie {
    width: 300px; 
    height: 225px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie__img--wrapper {
    margin: 10px 0px; 
    border-radius: 4px;  
    overflow: hidden;
    display: flex;
}

.movie__img {
    max-height: 380px; 
    transition: all 300ms ease;
    object-fit: contain; 
    object-position: left;
    cursor: not-allowed; 
}

.movie:hover 
.movie__img {
    transform: scale(1.03); 
}

.movie__title {
    font-size: 20px;
    font-weight: bold; 
    margin-bottom: 15px;
}

.movie__title:hover {
    text-decoration: underline;
    cursor: not-allowed; 
}

/* FOOTER */

footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.footer__logo {
    display: flex;
    text-align: center;
    padding: 10px 60px; 
}

.footer__logo--img {
    width: 160px; 
    filter : grayscale(1) invert(1); 
}

.footer__link, 
.footer__copyright {
    color: #fff; 
    font-size: 18px; 
}

.footer__list {
    margin: 20px 0 24px 0;  
}

.footer__link {
    padding: 0 6px; 
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */ 

@media (max-width:786px) {

    button {
        font-size: 18px; 
    }

    .movie {
        width: 50%; 
    }
}

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
}